@widthAll: 1000px;
@colorBack: lightgray;
.header {
    width: @widthAll;
    height: 200px;
    margin: 0 auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main {
    width: @widthAll;
    margin: 0 auto;
    background-color: navajowhite;

    .block {
        width: @widthAll / 3 - 60;
        display: block;
        height: 400px;
        margin: 50px 30px;
        outline: 1px solid black;
        text-align: center;
        float: left;
        
        .fahrenheit {
            display: block;
            width: 100%;
        }
        p {
            display: block;
            
            width: 100%;
        }
        input {
            margin-top: 10px;
            text-align: center; 
        }
        
    }
}


.clr {
    clear: both;
}

.footer {
    width: @widthAll;
    height: 200px;
    margin: 0 auto;
    background-color: lightgrey;
}

