.header {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.main {
  width: 1000px;
  margin: 0 auto;
  background-color: navajowhite;
}
.main .block {
  width: 273.33333333px;
  display: block;
  height: 400px;
  margin: 50px 30px;
  outline: 1px solid black;
  text-align: center;
  float: left;
}
.main .block .fahrenheit {
  display: block;
  width: 100%;
}
.main .block p {
  display: block;
  width: 100%;
}
.main .block input {
  margin-top: 10px;
  text-align: center;
}
.clr {
  clear: both;
}
.footer {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  background-color: lightgrey;
}
